.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  flex: 1 0 20%;
}

@media ( max-width: 768px) {
  .flex-container > div {
    flex-basis: 34%;
  }
}

@media ( max-width: 320px) {
  .flex-container > div {
    flex-basis: 80%;
  }
}

.img-container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.img-container > h2{
  text-align: center;
  color:dimgrey;
}